- if @daymenu.present?
  .page-header
    %h1
      Menu for #{@weekday} (#{@date.to_date.strftime("%d.%m.%Y")})
  - Category.all.each do |category|
    .panel.panel-default
      .panel-heading
        %h3.panel-title= category.name
      %table.table
        - @daymenu.products.where(category: category).each do |product|
          %tbody
            %td= product.name
            %td= product.price
  - if (@date.to_date == Date.today) & params[:weekday].present?
    = link_to 'Make order', new_users_order_path, class: "btn btn-success"
