%h1 Weekdays
= link_to 'Add weekday', new_admins_weekday_path, :class => "btn btn-success right"
.margin-top-10
  - if @weekdays.present?
    %table
      %thead
        %tr
          %th Id
          %th Name
          %th Actions
      %tbody
        - @weekdays.each do |weekday|
          %tr
            %td= weekday.id
            %td= weekday.name
            %td
              = link_to "Edit", edit_admins_weekday_path(weekday), :class => 'btn btn-success btn-xs'
              = link_to "Destroy", admins_weekday_path(weekday), :method => :delete, data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger btn-xs'
  - else
    %h1.rating-h1 You don't have weekdays now.
