.container
  .form-group
= simple_form_for [:admins, @product], html: { multipart: true } do |f|
  = f.input :name
  = f.association :category, :include_blank => false, :label_method => lambda {|c| "#{c.name}"}
  = f.input :price
  = f.submit "Save", :class => "btn-xs btn-success rating-submit-btn margin-rating-form"

