/ Left side column. contains the logo and sidebar
%aside.main-sidebar
  %ul.sidebar-menu
    %li.header ADMIN NAVIGATION
    %li.active
      = link_to admins_orders_path do
        %i.fa.fa-calendar
        %span Orders
    %li
      = link_to admins_products_path do
        %i.fa.fa-list
        %span Products
    %li
      =link_to admins_users_path do
        %i.fa.fa-users
        %span Users
    %li
      = link_to admins_weekdays_path do
        %i.fa.fa-calendar-check-o
        %span Weekdays
  %ul.sidebar-menu
    %li.header USER NAVIGATION
    %li
      = link_to edit_users_profile_path do
        %i.fa.fa-calendar
        %span Profile
    %li
      = link_to root_path do
        %i.fa.fa-list
        %span Dashboard
/ /.sidebar
/ Content Wrapper. Contains page content
