!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title= full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    / Tell the browser to be responsive to screen width
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
  %body.hold-transition.skin-red-light.sidebar-mini
  .wrapper
    = render 'layouts/partials/header'
    - if signed_in?
      = render 'layouts/partials/sidebar_u'
    .content-wrapper
    - if signed_in?
      %section
        = render 'layouts/partials/messages'
        = yield
    -else
      .container
        = render 'layouts/partials/messages'
        = yield

